<app-tool-bar></app-tool-bar>
<app-sidebar></app-sidebar>
<!-- <nav>
  <ul>
    <li>
      <a routerLink="/create" routerLinkActive="active"
        ><button mat-stroked-button>Create</button>
      </a>
    </li>
    <li>
      <a routerLink="/details" routerLinkActive="active"
        ><button mat-stroked-button>Detailes</button>
      </a>
    </li>
    <li>
      <a routerLink="/edit" routerLinkActive="active"
        ><button mat-stroked-button>Edit</button>
      </a>
    </li>
  </ul>
</nav> -->
<router-outlet></router-outlet>
